$text-area-color: #272721;

input[type="text"] {
  outline: 0;
  border: 0px;
  background: transparent;
  border-bottom: solid 1px #aaa;
  color: #eee;
  font-size: 14px;
}

input[type="text"]:focus {
  background: transparent;
  border-bottom: solid 2px $func-btn-color;
}

#text-editor {
  width: 70vw;
  height: 77vh;
  // height: 500px;
}

#download-filename {
  width: 20vw;
}

#tag-name-form,
#tag-sep-form {
  width: auto;
}
