$base-color: #282C35;

html, body {
    margin: 0;
    padding: 0;
    background-color: $base-color;
}
article, nav, section, main {
  display: block;
}

.page {
  display: flex;
  margin-top: 50px;
  height: 100%;
  flex-wrap: wrap
}
.text-container {
  margin-left: 50px;
  max-width: 70%;
}

.tags-container {
  margin-left: 50px;
  display: block;
  max-width: 30%;
}

$func-btn-color: rgb(230, 160, 70);
$tag-btn-color: rgb(70, 160, 230);
$xml-tag-btn-color: rgb(230, 70,160);
$undo-btn-color: rgb(230, 160, 230);

.func-btn {
  margin: 5px;
  height: 20px;
  padding: 0.2em;
  font-size: 14px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  background-color: $base-color;
  color: $func-btn-color;
  border: solid 2px $func-btn-color;
  border-radius: 3px;
  transition: .3s;
}

.func-btn:hover {
  background: $func-btn-color;
  color: $base-color;
}

.tag-btn {
  background-color: $base-color;
  color: $tag-btn-color;
  border-color: $tag-btn-color;
}

.tag-btn:hover {
  background: $tag-btn-color;
  color: $base-color;
}


.xml-tag-btn {
  background-color: $base-color;
  color: $xml-tag-btn-color;
  border-color: $xml-tag-btn-color;
}

.xml-tag-btn:hover {
  background: $xml-tag-btn-color;
  color: $base-color;
}
#undo-btn {
  float: right;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

$text-area-color: rgb(52, 54, 65);

#user-text {
  min-width: 50%;
  max-width: 100%;
  min-height: 50%;
  max-height: 70%;
  font-size: 16px;
  background-color: $text-area-color;
  color: #eee;
}

#user-text:focus {
    box-shadow: 1px 1px 3px 1px rgb(130, 130, 130);
    outline: none;           // ブラウザが標準で付加する線を消したいとき
}


.file-info {
  color: #eee;
  word-wrap: break-word;
}

.add-tags {
  padding: 10px;
  display: block;
  // margin-top: 50px;
  // border: solid 2px $func-btn-color;
  border-radius: 3px;
}

.table-header {
  padding-right: 10px;
  color: $func-btn-color;
}

#tag-name-form, #tag-sep-form {
  resize: none;
  font-size: 16px;
  background-color: $text-area-color;
  color: #eee;
}
#tag-name-form:focus {
    box-shadow: 1px 1px 3px 1px rgb(130, 130, 130);
    outline: none;           // ブラウザが標準で付加する線を消したいとき
}
#tag-sep-form:focus {
    box-shadow: 1px 1px 3px 1px rgb(130, 130, 130);
    outline: none;           // ブラウザが標準で付加する線を消したいとき
}

// check box
@import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

input[type=checkbox] {
  display:none;/* to hide the checkbox itself */
  color: #eee;
}
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
  color: #eee;
  content: "\f096";
}
input[type=checkbox]:checked + label:before {
  content: "\f046";
  color: $xml-tag-btn-color;
} /* allow space for check mark */
// check box ここまで

.func-btn a {
  color: $func-btn-color;
  text-decoration: none;
}
.func-btn a:hover {
  color: $base-color;
}

#added-message {
  padding: 1em;
  color: rgb(92, 104, 105);
;
}

footer {
  text-align: center;
  position: absolute;
  top: 97%;
  right: 0;
  bottom: 0;
  left: 0;
  color: $text-area-color;
  margin-bottom: 1em;
}

@import "tab";
