$base-color: rgb(44, 49, 52);

html, body {
    margin: 0;
    padding: 0;
    background-color: $base-color;
}
article, nav, section, main {
  display: block;
}

.page {
  display: flex;
  margin-top: 50px;
  height: 100%;
  flex-wrap: wrap;
}
.text-container {
  margin-left: 50px;
  max-width: 70%;
}

.tags-container {
  margin-left: 50px;
  display: block;
  max-width: 30%;
}

.file-info {
  color: #eee;
  word-wrap: break-word;
}

.table-header {
  padding-right: 10px;
  color: rgb(230, 160, 70);
}

#added-message {
  padding: 1em;
  color: rgb(92, 104, 105);
}

footer {
  text-align: center;
  position: absolute;
  top: 97%;
  right: 0;
  bottom: 0;
  left: 0;
  color: rgba(77, 77, 77, .7);
  margin-bottom: 1em;
}

@import "buttons";
@import "tabs";
@import "forms";
@import "tags";
