.tags {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: move;
  position: absolute;
  z-index: 1000;
}

.tags:hover {
  background-color: rgb(64, 69, 62);;
  box-shadow: 0 0 10px rgba(100, 100, 100, 0.2);

}

.drag {
  z-index: 1001;
}

.tag-btn, .xml-tag-btn {
  margin: 10px 10px 10px 10px;
}
